.hom{
    background-image: url("https://www.vmtlib.michlibrary.org/images/library-books.jpg/@@images/image.jpeg");
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
}